html,
body {
   margin:0;
   padding:0;
   height:100%;
}

/* For creating a good footer and header */
#container {
   min-height:100%;
   position:relative;
}

#body {
   padding:10px;
   padding-bottom:40px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   text-align: right;
   height:40px;   /* Height of the footer */
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background: #ECEEF0;
    color: #595959;
}

#stylizedblock {
  padding-top: 420px;
  width: 495px;
  margin: 0 auto;
  text-align: center;
}

#selling {
  padding-top: 130px;
  padding-bottom: 20px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#aboutme {
  padding-top: 400px;
  padding-bottom: 20px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#standard {
  padding-top: 80px;
  /*width: 500px;
  margin: 0 auto;*/
  text-align: center;
}

#standard embed {
  width: 710px;
  height: 625px;
}

#contact {
  padding-top: 80px;
  width: 500px;
  margin: 0 auto;
  /*width: 500px;
  margin: 0 auto;*/
  text-align: center;
}

#contact-details {
  padding-top: 80px;
  /*width: 70%;*/
  width: 400px;
  margin: 0 auto;
  /*width: 500px;
  margin: 0 auto;*/
  text-align: center;
}

#contact-details a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  height: 30px;
  /*width: 35%;
  margin: 1%;*/
  margin: 10px;
  text-align: left;

}

#contact-details a span {
  vertical-align: middle;
}

#contact-details a img {
  width: 30px;
  height: 30px;
}

#design {
  padding-top: 80px;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
}

#design a {
  text-decoration: none;
}

#design a img {
  float: left;
  width: 22.5%;
  margin: 1.25%;
  height: auto;
}


#projects {
  padding-top: 80px;
  text-align: center;
  width: 100%;
}

.projectsdiv {
  display: inline-block;
  padding-top: 150px;
  text-decoration: none;
  width: 23%;
  margin: 0.5%;
}

.projectsdiv img {
  width: 100%;
  height: auto;
}

.left{
  text-align: left;
}
.right{
  text-align: right;
}


h1 {
    font-family: 'Dancing Script', cursive;
    display: inline;
    font-size: 4.5em;
    color: #C8A875;
}
h2 {
  font-family: 'Dancing Script', cursive;
  display: inline;
  font-size: 2.5em;
  color: #595959;
}

img.round {
  width: 25%;
  height: auto;
}

img.headericon {
  width: 50;
  height: auto;
  margin: 30px;

}
img.projecticon {
  width: 200;
  height: auto;
  margin: 30px;

}

#centeredmenu {
    float: left;
    width: 100%;
    background: #ECEEF0;
    overflow: hidden;
    position: relative;
}
#centeredmenu ul {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}
#centeredmenu ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50%;
}
#centeredmenu ul li a {
    display: block;
    margin: 0 0 0 40px;
    padding: 3px 10px;
    background: #ECEEF0;
    color: #595959;
    text-decoration: none;
    line-height: 2.3em;
}
#centeredmenu ul li a:hover {
    background: #DCDEE0;
    color: #fff;
}
#centeredmenu ul li a.active, #centeredmenu ul li a.active:hover {
    color: #fff;
    background: #000;
    font-weight: bold;
}

@media screen and (max-width: 750px) {
  #standard embed {
      width: 100%;      
  }

}


@media screen and (max-width: 600px) {
  #centeredmenu ul li a {
      margin: 0 0 0 0px;
  }
  #stylizedblock,
  #selling,
  #aboutme,
  #contact,
  #contact-details
  {
    width: 100%;
  }
}
