html,
body {
   margin:0;
   padding:0;
   height:100%;
}

/* For creating a good footer and header */
#container {
   min-height:100%;
   position:relative;
}

#body {
   padding:10px;
   padding-bottom:40px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   text-align: right;
   height:40px;   /* Height of the footer */
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background: rgb(244,244,244);
    color: #595959;
}

#stylizedblock {
  /*padding-top: 420px;*/
  margin: 0 auto;
  text-align: center;
}


#stylizedblock img{
  /*padding-top: 420px;*/
  width: 71%;
  height: auto;
}


#aboutme {
  padding-top: 300px;
  padding-bottom: 20px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#selling {
  padding-top: 150px;
  padding-bottom: 20px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#skills {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#thirds {
  padding: 20px 7% 0px 7%;
  display:inline-block;
  width: 15%;
  margin: 0 auto;
  text-align: center;
  vertical-align:bottom;

}

#thirdstext {
  padding: 0px 7% 20px 7%;
  display:inline-block;
  width: 15%;
  margin: 0 auto;
  text-align: center;
  vertical-align:top;
}

#standard {
  padding-top: 80px;
  /*width: 500px;
  margin: 0 auto;*/
  text-align: center;
}

#standard object {
  width: 710px;
  height: 625px;
}

#contact {
  padding-top: 80px;
  width: 500px;
  margin: 0 auto;
  /*width: 500px;
  margin: 0 auto;*/
  text-align: center;
}

#contact-details {
  padding-top: 60px;
  padding-bottom: 40px;
  width: 100%;

  margin: 0 auto;
  /*width: 500px;
  margin: 0 auto;*/
  text-align: center;
}

#contact-details a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  height: 30px;
  /*width: 35%;
  margin: 1%;*/
  margin: 0 7%;

  text-align: left;

}

#contact-details a span {
  vertical-align: middle;
}

#contact-details a img {
  width: 30px;
  height: 30px;
}

#design {
  padding-top: 80px;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
}

#design a {
  text-decoration: none;
}

#designcrop {

}

#design a img {
  float: left;
  width: 22.5%;
  margin: 1.25%;
  height: auto;
}

#projects {
  padding-top: 80px;
  text-align: center;
  width: 100%;
}

#weather {
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
  width: 90%;
  max-width: 1100px;
  overflow: hidden;
}

#weathersubdiv {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  width: 42%;
  margin: 0.5%;
  vertical-align:middle;
}

#weathersubdiv-text {
  padding: 0;
  display: inline-block;
  text-decoration: none;
  width: 80%;
  margin: 0;
}

#weathersubdiv-large {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  width: 60%;
  margin: 0.5%;
}


#motosubdiv {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  width: 42%;
  margin: 0.5%;
  vertical-align:middle;
  text-align: justify;
}

#bikesubdiv {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  width: 28%;
  margin: 0.5%;
  vertical-align:middle;
}

#textsubdiv {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  width: 50%;
  margin: 0.5%;
  vertical-align:middle;
  text-align: justify;
}

#textsubdiv-center {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  width: 50%;
  margin: 0.5%;
  vertical-align:middle;
  text-align: center;
}

#automatedsubdiv {
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  width: 66%;
  margin: 0.5%;
}

#motosubdiv a,
#bikesubdiv a,
#weathersubdiv a,
#weathersubdiv-large a,
#automatedsubdiv a{
  text-decoration: none;
}

#motosubdiv a img,
#bikesubdiv a img,
#weathersubdiv a img,
#weathersubdiv-large a img{
  text-align: center;
  width: 95%;
  height: auto;
}

#automatedsubdiv a img{
  text-align: center;
  width: 30%;
  height: auto;
}

.projectsdiv {
  display: inline-block;
  padding-top: 150px;
  text-decoration: none;
  width: 23%;
  margin: 0.5%;
}

.projectsdiv img {
  width: 80%;
  height: auto;
}

.left{
  text-align: left;
}
.right{
  text-align: right;
}


h1 {
    font-family: 'Dancing Script', cursive;
    display: inline;
    font-size: 4.5em;
    color: #C8A875;
}
h2 {
  font-family: 'Dancing Script', cursive;
  display: inline;
  font-size: 2.1em;
  color: #595959;
}

img.round {
  width: 150px;
  padding: 40px;
  height: auto;
}

img.third {
  width: 90%;
  max-width: 100px;
  height: auto;
}

img.headericon {
  width: 50;
  height: auto;
  margin: 30px;

}
img.projecticon {
  width: 300;
  height: auto;
  margin: 30px;

}

#centeredmenu {
    float: left;
    width: 100%;
    background: rgb(244,244,244);
    overflow: hidden;
    position: relative;
}
#centeredmenu ul {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}
#centeredmenu ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50%;
}
#centeredmenu ul li a {
    display: block;
    margin: 0 0 0 40px;
    padding: 3px 10px;
    background: rgb(244,244,244);
    color: #595959;
    text-decoration: none;
    line-height: 2.3em;
}
#centeredmenu ul li a:hover {
    background: #DCDEE0;
    color: #fff;
}
#centeredmenu ul li a.active, #centeredmenu ul li a.active:hover {
    color: #fff;
    background: #000;
    font-weight: bold;
}

@media screen and (max-width: 750px) {
  #standard object {
      width: 100%;
  }
  .projectsdiv {
    width: 46%;
    padding-top: 10px;
  }

}

@media screen and (max-width: 600px) {
  #centeredmenu ul li a {
      margin: 0 0 0 0px;
  }


  #motosubdiv,
  #weathersubdiv
  {
    width: 40%;
  }

  #bikesubdiv,
  #textsubdiv,
  {
    width: 50%;
  }

  #selling,
  #skills,
  #aboutme,
  #contact,
  #contact-details,
  #weather,
  #weathersubdiv-large,
  #stylizedblock img
  {
    width: 100%;
  }

}
